header{
	background: #eee;
	padding-bottom: 20px;;

}
section{
	min-height: 230px;

}
.container{
	;
	padding: 0;
	;
	box-shadow: 2px 2px 20px rgba(0, 0 , 0, .5);

}
#header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.logo{
	margin-bottom: -62px;
	margin-top: -30px;
		
}
#film-desc{
	display: none;
}
#lista{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 37px 0;
	justify-content: center;
}
.lis-wrap{
	display: flex;
	flex-direction: column;
	width: 245px;
	height: 310px;	
	border: 1px solid #868181;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	border-radius: 10px;
	background-color: #eff5f3;
	box-shadow: 5px 5px 6px rgba(0, 0, 0, .2);
}
.lis-wrap img{
	width: 150px;
}
#film-desc{
	display: flex;
	flex-direction: row;
	width: 800px;
	margin: 30px 10px;	
}
.colum{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}
.colum div>span{
    width: 85px;
    display: inline-block;
    font-weight: bolder;
    font-size: 16px;
}
.colum>div{
	margin-bottom: 6px;

}
footer{
	height: 100px;
	background: #3c3838;

}